body {
  margin: 0;
  padding: 0;
  background: #1c1c1c;
}

.container {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 700px;
  top: 83px;
  background: #1f2937;
}
/* Heading */
#heading {
  position: absolute;
  width: 354px;
  height: 80px;
  left: 52px;
  top: 118px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */

  letter-spacing: -0.025em;

  /* white */

  color: #ffffff;
}

#para {
  /* Supporting text */
  position: absolute;
  width: 372px;
  height: 28px;
  left: 52px;
  top: 208px;

  /* text-xl/leading-7/font-normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Medium grey */

  color: #d5d4d8;
}
/* Button */
button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  /* gap: 12px; */

  position: absolute;
  width: 223px;
  height: 42px;
  left: 52px;
  top: 287px;

  background: #10b981;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 6px;

  /* Text */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* white */

  color: #ffffff;
}
button:before {
  content: url("bolt.svg");
  width: 18px;
  float: left;
  position: absolute;
  left: 7%;
  right: 15%;
  top: 19%;
}
hr {
  position: absolute;
  width: 446px;
  height: 0px;
  left: 52px;
  top: 364px;

  border: 1px solid #2f3e53;
}

input {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 399px;

  background: #273549;
  border: none;
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  text-align: center;

  color: #55f991;

  background-image: url("dots.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0 0 10px;
}
